1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [8]:
bd = 1998
years_list = [i for i in range(bd,bd+6)]
print(years_list)

[1998, 1999, 2000, 2001, 2002, 2003]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [11]:
third_bd = years_list[3]
print("the third birthday was in year",third_bd)

the third birthday was in year 2001

3.In the years list, which year were you the oldest?

In [13]:
print("I was oldest in",years_list[-1])

I was oldest in 2003

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [14]:
things = ["mozzarella", "cinderella", "salmonella"]

5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?
Ans : No , it did not change the element in the list.

In [18]:
things[1].capitalize()
things

['mozzarella', 'cinderella', 'salmonella']

6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [19]:
surprise = ["Groucho", "Chico" , "Harpo"]

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [23]:
print(surprise[-1].lower()[::-1].capitalize())

Oprah

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [24]:
e2f = {"dog":"chien", "cat":"chat", "walrus":"morse"}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [31]:
print("the French word for walrus is ",e2f["walrus"])

the French word for walrus is  morse

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [34]:
f2e = {}
for key, value in e2f.items():
    f2e[value]=key
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word chien using f2e.

In [35]:
f2e["chien"]

'dog'

12. Make and print a set of English words from the keys in e2f.

In [37]:
list(e2f.keys())

['dog', 'cat', 'walrus']

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [41]:
life = {"animals": {"cats" : ["henri" , "Grumpy", "Lucy"] , "octopi" : {} , "emus" : {}} , "plants":{} , "other":{}}
life

{'animals': {'cats': ['henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

14. Print the top-level keys of life.

In [43]:
list(life.keys())

['animals', 'plants', 'other']

15. Print the keys for life['animals'].

In [44]:
list(life["animals"].keys())

['cats', 'octopi', 'emus']

16. Print the values for life['animals']['cats']

In [48]:
list(life['animals']['cats'])

['henri', 'Grumpy', 'Lucy']