In [5]:
#1. Write a Python program to convert kilometers to miles?
#ans

km = float(input("enter the kilometeres : "))
mile = 1.609344*km
print("%s kms = %s miles "%(km,mile))

enter the kilometeres : 4.2
4.2 kms = 6.759244800000001 miles

In [8]:
#2. Write a Python program to convert Celsius to Fahrenheit?
#ans

c = int(input("Enter the celsius value : "))
f = c*9/5 + 32
print("%s celsius = %s fahrenheit " %(c,f))

Enter the celsius value : 25
25 celsius = 77.0 fahrenheit

In [15]:
#3. Write a Python program to display calendar?
#ans

import calendar
y = int(input("enter the year : "))
cal= calendar.calendar(y)
print(cal)

enter the year : 1998
                                  1998

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [25]:
#4. Write a Python program to solve quadratic equation?
#ans

import math
a = 4
b = 9
c = 2

d = b**2 - (4*a*c)
print("Value of d :", d)

sol1 = (-b - math.sqrt(d))/(2*a)
sol2 = b - (math.sqrt(d))/(2*a)

print("Value after calculation is %s and %s" %(sol1, sol2))

Value of d : 49
Value after calculation is -2.0 and 8.125

In [26]:
#5. Write a Python program to swap two variables without temp variable?
#ans

a = int(input('Enter the first number : '))
b = int(input('Enter the sceond number = '))
print("The number before swapping are no1=%s and no2=%s" %(a,b) )
def swap(a,b):
    a,b=b,a
    return a ,b
print("The number after swapping are no1=%s and no2=%s" %swap(a,b) )

Enter the first number : 10
Enter the sceond number = 20
The number before swapping are no1=10 and no2=20
The number after swapping are no1=20 and no2=10